*.pro.user
*.mexmaci64
ICEbot_QT_v1.pro.user

dir_to_ignore/
LoggedData
MATLAB/volumes
MATLAB/ECGpeakDetection/codegen
MATLAB/ECGpeakDetection/ECGgating.prj
MATLAB/ECGpeakDetection/ECGgating_mex.mexw32

